body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(imgassets/bg\ \(1\).png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form {
  width: 45vw;
  height: 75vh;
  border-radius: 15px;
  border: 2px solid #FFF;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.09) 100%), linear-gradient(138deg, rgba(255, 255, 255, 0.50) -28.86%, rgba(255, 255, 255, 0.00) 119.86%);
  box-shadow: 0px 4px 70px 26px rgba(50, 86, 212, 0.25);
  backdrop-filter: blur(20px);

}

.form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.form-heading {
  color: white;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1.25px;
  text-align: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

h3 {
  color: white;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1.25px;
  margin-bottom: 5px;
}

.line {
  width: 20vw;
  border: 1px solid #FFF;
}

.small {
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
}

input::placeholder {
  color: white;
}

.writen {

  width: 35vw;
  height: 35vh;
  font-family: 'Consolas', 'Menlo', monospace;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  padding: 2rem;
  border: 1px solid white;
  overflow: auto;

}

.writen:focus {
  outline: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7B8DFF;
  padding: 5px;
  border-radius: 20px;
  margin-top: 25px;
  margin-bottom: 0;
  width: 10vw;
}

.send-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
}

/* Loading... */
.loading-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Submission Failure */
.error-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.error2 {
  color: white;
  text-decoration: underline 2px rgb(255, 255, 255);
}

/* Submitted succesfully */

.submitted {
  background-color: white;
}

.thank-you-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.thank-you .form {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thank-you .form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.thank-you .form-content .small {
  color: #000000;
  font-size: 40px;
  font-weight: 700;
}

.thank-you h4,
.thank-you p,
.thank-you svg {
  text-align: center;
  margin: 20px 0;
}

/* effects */
.form::before {
  box-shadow: 0px 4px 70px 26px rgba(50, 86, 212, 0.25);
  transition: box-shadow 0.3s ease;
}

.form:hover {
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

.button:hover {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 4px 70px 26px rgba(50, 86, 212, 0.25);
  cursor: pointer;
}

.send-btn:hover {
  cursor: pointer;
}

